<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <title>Calculator - UI</title>
    <link rel="stylesheet" href="/static/calculator.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>
    <div class="container">
      <!-- Form-Section -->
      <div class="calculator">

        <div class="form">
          <!-- <form>
            <input type="text" placeholder="0" id="display" readonly>
          </form> -->
          <!-- <br> -->


          <form action="{% url 'index' %}" method="post">
            {% csrf_token %}

            <input type="text" placeholder="0" name="display"value="{{ display }}" readonly>

            <!-- Button-Section -->
            <div class="button-section">
              <!-- Row-1 -->
              <div class="row">
                <button type="submit" name="action" value="sine" onclick="appendToDisplay('Sin')">Sin</button>
                <button type="submit" name="action" value="cosine" onclick="appendToDisplay('Cos')">Cos</button>
                <button type="submit" name="action" value="tangent" onclick="appendToDisplay('Tan')">Tan</button>
                <button type="submit" name="action" value="cosecant" onclick="appendToDisplay('Cosec')">Cosec</button>
                <button type="submit" name="action" value="secant" onclick="appendToDisplay('Sec')">Sec</button>
                <button type="submit" name="action" value="cotangent" onclick="appendToDisplay('Cot')">Cot</button>
              </div>
              <!-- Row-2 -->
              <div class="row">
                <button type="submit" name="action" value="log" onclick="appendToDisplay('Log')">log</button>
                <button onclick="appendToDisplay('(')" name="action" value="(">(</button>
                <button onclick="appendToDisplay(')')" name="action" value=")">)</button>
                <button class="num" name="action" value="power_of_2" onclick="appendToDisplay('2^')"><p>2<sup>x</sup></p></button>
                <button type="submit" name="action" value="Exp" onclick="appendToDisplay('(')">Exp</button>
                <button type="submit" name="action" value="Equ" onclick="appendToDisplay('(')">Equ</button>
              </div>
              <!-- Row-3 -->
              <div class="row">
                <button class="num" type="submit" name="action" value="|X|" onclick="appendToDisplay('abs(')">|X|</button>
                <button class="num" type="submit" name="action" value="factorial" onclick="appendToDisplay('!')">!</button>
                <button class="num" type="submit" name="action" value="AC" onclick="clearDisplay()">AC</button>
                <button class="num" type="submit" name="action" value="DEL" onclick="removeLastElement()">DEL</button>
                <button class="num" type="submit" name="action" value="%" onclick="appendToDisplay('%')">%</button>
                <button class="Arithemetic" type="submit" name="action" value="/" onclick="appendToDisplay('÷')">/</button>
              </div>
              <!-- Row-4 -->
              <div class="row">
                <button class="num" type="submit" name="action" value="^" onclick="appendToDisplay('^')"> ^ </button>
                <button class="num" type="submit" name="action" value="1/X" onclick="appendToDisplay('1/')">1/X</button>
                <button class="num" type="submit" name="action" value="7" onclick="appendToDisplay('7')">7</button>
                <button class="num" type="submit" name="action" value="8" onclick="appendToDisplay('8')">8</button>
                <button class="num" type="submit" name="action" value="9" onclick="appendToDisplay('9')">9</button>
                <button class="Arithemetic" type="submit" name="action" value="*" onclick="appendToDisplay('x')">*</button>

              </div>
              <!-- Row-5 -->
              <div class="row">
                <button class="num" type="submit" name="action" value="cube" ><p>X<sup>3</sup></p></button>
                <button class="num" type="submit" name="action" value="cube_root" onclick="appendToDisplay('∛')">∛X</button>
                <button class="num" type="submit" name="action" value="4" onclick="appendToDisplay('4')">4</button>
                <button class="num" type="submit" name="action" value="5" onclick="appendToDisplay('5')">5</button>
                <button class="num" type="submit" name="action" value="6" nclick="appendToDisplay('6')">6</button>
                <button class="Arithemetic" type="submit" name="action" value="-" onclick="appendToDisplay('-')">-</button>
              </div>
              <!-- Row-6 -->
              <div class="row">
                <button class="num" type="submit" name="action" value="√" onclick="appendToDisplay('√')">√X</button>
                <button class="num" type="submit" name="action" value="square" onclick="appendToDisplay('^2')"><p>X<sup>2</sup></p></button>
                <button class="num" type="submit" name="action" value="1" onclick="appendToDisplay('1')">1</button>
                <button class="num" type="submit" name="action" value="2" onclick="appendToDisplay('2')">2</button>
                <button class="num" type="submit" name="action" value="3" onclick="appendToDisplay('3')">3</button>
                <button class="Arithemetic" type="submit" name="action" value="+" onclick="appendToDisplay('+')">+</button>
              </div>
              <!-- Row-7 -->
              <div class="row">
                <button class="num" type="submit" name="action" value="e^" onclick="appendToDisplay('e^')"><p>e<sup>x</sup></p></button>
                <button class="num" type="submit" name="action" value="𝛑" onclick="appendToDisplay('𝛑')">𝛑</button>
                <button class="num" type="submit" name="action" value="00" onclick="appendToDisplay('00')">00</button>
                <button class="num" type="submit" name="action" value="0" onclick="appendToDisplay('0')">0</button>
                <button class="num" type="submit" name="action" value="." onclick="appendToDisplay('.')">.</button>
                <button class="equal" type="submit" name="action" value="=" onclick="calculate()">=</button>
              </div>
            </div>

          </form>

        </div>

      </div>

    </div>

    <script src="/static/script.js"></script>
  </body>
</html>